:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  text-decoration: none !important;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  background: rgba(117, 117, 117, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navigationbar {
  z-index: 1;
  padding: 0;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navigationbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navigation-item {
  width: 100%;
}

.navigation-item:last-child {
  margin-top: auto;
}

.navigation-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.navigation-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.navigation-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #80b7ff;
}

.fa-secondary {
  color: #496edf;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navigationbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navigationbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navigationbar-nav {
    flex-direction: row;
  }

  .navigation-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navigationbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navigationbar:hover {
    width: 16rem;
  }

  .navigationbar:hover .link-text {
    display: inline;
  }

  .navigationbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navigationbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* Styling for cards */

.gamecards {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.gamecard {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  box-shadow: 0px 0px 26px -2px rgba(0,0,0,1);
  font-family: roboto;
  text-align: center;
  background-position: center center;
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.gamecard:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.label-control {
  color: #c8c8c8;
}

.form-control::before{
  background: #3e3e3e;
}

.form-control {
  background-color: #3e3e3e !important;
  border-color: #292929;
  color: #7a7a7a;
  transition: .2s ease-in-out !important;
}

.form-control:focus{
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  color: #c8c8c8;
}

